﻿<h2>Register User</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">    
    <div class="form-group">
        <label for="userName" class="required">Username(Email Id)</label>
        <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">        
            <div *ngIf="f.userName.errors.required">User Email as your Username</div>
            <div *ngIf="f.userName.errors.email">Invalid Email</div>
        </div>
    </div>    
    <div class="form-group">
        <label for="password" class="required">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>    
    <div class="form-group">
        <label for="firstName" class="required">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="required">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group" >
        <label for="location" class="required">Location</label>
        <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Location is required</div>
        </div>
    </div>

    <div class="form-group" >
        <label for="companyName" class="required">Company Name</label>
        <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="companyUrl">Company Url</label>
        <input type="text" formControlName="companyUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyUrl.errors }" />
        <div *ngIf="submitted && f.companyUrl.errors" class="invalid-feedback">
            <div *ngIf="f.companyUrl.errors.required">Company Url is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
